<nav>
    <div class="site-title">
      <a href="/"><h1>Ayomide's Blog App</h1></a>
   
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/blogs/add-blog">Add A Blog</a></li>
    </ul>
  </nav>