<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="blogs content">
    <h2><%= blog.blogTitle  %> </h2>
    <br />
    <p><%= blog.blogBody  %> </p>
   
    
  </div>


</body>
</html>